/*****************************************************************************************************/
                                    /* BASE STYLING */
/*****************************************************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}

main {
    max-width: 100%;
}

.wrapper {
	width: 1120px;
	height: 100%;
    margin: 0 auto;
    display: flex;
}

.sectionTitle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: table; 
    text-align:center; 
    width:100%;
    margin-top: -110px;
}

.sectionTitle h1 {
    display: table-cell; 
    margin: 0;
    padding: 0;
    position: relative;
}

.sectionTitle h1 span {
    position: absolute;
    top: -80px;
}

/*****************************************************************************************************/
                                    /* RESPONSIVE STYLING */
/*****************************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* inbetween */
@media only screen and (max-width: 850px) {
    .main-nav li {
        margin-left: 10px !important;
    }
   
    .page-header .main-nav {
        margin-left: 10px !important;
    }   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .main-nav li {
        margin-left: 30px !important;
    }
   
    .page-header .main-nav {
        margin-left: 30px !important;
    }   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .main-nav li {
        margin-left: 50px;
    }

    .page-header .main-nav {
        margin-left: 50px;
    }
}

/*****************************************************************************************************/
                                    /* HEADER STYLING */
/*****************************************************************************************************/
.page-header {
	height: 10%;
	width: 100vw;
    position: fixed;
    background-color: #111111;
    z-index: 100;                    /* so animation of text goes behind page header */
}

.page-header .logo {
	float: left;
}

#logo-pic {
    height: 60px;
    padding-top: 2.5px;
    padding-left: 59.78px;
}

.page-header .main-nav {
    float: right;
}

.main-nav li {
	float: left;
	margin-left: 90px;
}

.main-nav li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 66px;
}

.main-nav li a:hover {
	color: #22D7B6;
}

/* the line underneath the current page in the nav bar */
.active-nav {
    border-bottom: 1px solid #22D7B6;
}

.nav-li-items li {
    list-style: none;
}

/*****************************************************************************************************/
                                    /* BANNER/FRONT PAGE STYLING */
/*****************************************************************************************************/
.banner {
    height: 660px;
    width: 100vw;
    background: url(../images/mountain-side-2.jpg);
    background-size: cover;
    padding-top: 66px;                                
    max-width: 100%; 
    float:left;
    clear:none;  
}

.banner-block {
    padding-top: 170px;
    padding-left: 450px;
	font-size: 60px;
	font-weight: bold;
    text-align: center;
    color: black;
}

.banner-block .row {
    margin: 0;
    padding: 0;
}

.moveLeft {
    margin-left: 15%;
}

.banP1 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}
  
.banP2 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}
  
.banP3 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}

@keyframes dropDownAnimation {
    0%   {top:-300px;}
    100%  {top:30px;}    
}

/* adds padding between individual sections between main title */
.main-title:not(:first-child):not(:last-child) {
    margin-left: 5px;
    margin-right: 5px;
}

.subtitle {
    animation-name: fadeIn;
    animation-duration: 3s;
  	animation-delay: 3s;
  	animation-fill-mode: forwards;
    visibility: hidden;
	font-size: 21px;
	font-weight: 300;
    margin: 25px 0px;
    position: relative;
    display: inline;
}

@keyframes fadeIn {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}

/*****************************************************************************************************/
                                    /* ABOUT STYLING */
/*****************************************************************************************************/
.myHeadshot {
    height: auto;
    width: 50%;
    border-style: ridge;
}

.about {
    background-color: rgb(199, 224, 214);
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    float: right;
    clear:none; 
    width: 100%; 
}

.aboutBtn {
    color: black;
    text-decoration: underline;
}

.aboutBtn:hover {
    color: #1F6D63;
}

.favPhoto {
    width: 90%;
    height: auto;
    border-style: ridge;
}

.figCaption {
    font-size: 13px;
}

.blackHR {
    background-color: black;
}

/*****************************************************************************************************/
                                    /* PROJECTS STYLING */
/*****************************************************************************************************/
.projects {
    background-color: #1F6D63;
    padding-bottom: 80px;
}

.projectsAnchor {
    scroll-padding-top: 50px;
}

.firstRow {
    /* padding-top: 40px; */
    padding-bottom: 30px;
}

.card-body-links {
    margin: auto;
}

/* transforms size of hovered item */
.firstRow:hover > *:hover {
    transform: scale(1.1);
}

.card-img-top {
    border: 1px solid black;
    width: 100%;
    height: 11vw;
    object-fit: cover;
}

/* Following two style elements allow scroll bar on modal */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}

/*****************************************************************************************************/
                                    /* PHOTO GALLERY STYLING */
/*****************************************************************************************************/
.marginTop {
    margin-top: 8%;
}

.slider {
    width: 750px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slides > div {
flex-shrink: 0;
width: 750px;
height: 500px;
position: relative;

display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
}

#mainSlide {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, black, grey);
}

/* mini pictures in the side bar */
.slide1 {
    background: url('../images/photo_gallery/1.jpg');
}

.slide2 {
    background: url('../images/photo_gallery/2.jpg');
}

.slide3 {
    background: url('../images/photo_gallery/3.jpg');
}

.slide4 {
    background: url('../images/photo_gallery/4.jpg');
}

.slide5 {
    background: url('../images/photo_gallery/5.jpg');
}

.slide6 {
    background: url('../images/photo_gallery/6.jpg');
}

.slide7 {
    background: url('../images/photo_gallery/7.jpg');
}

.slide8 {
    background: url('../images/photo_gallery/8.jpg');
}

.slide9 {
    background: url('../images/photo_gallery/9.jpg');
}

.slide10 {
    background: url('../images/photo_gallery/10.jpg');
}

.slide1, 
.slide2,
.slide3, 
.slide4, 
.slide5,
.slide6, 
.slide7,
.slide8, 
.slide9, 
.slide10 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.photography img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.photography a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}
    
.photography a:hover {
    opacity: 0.7;
}
    
.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.picButtons {
    display: flex;
    flex-direction: column;
}

.rightSide {
    margin-left: auto !important;
}

.photography {
    background-color: rgb(199, 224, 214);
    margin-top: -20px;
    padding-bottom: 50px;
    /* new */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*****************************************************************************************************/
                                    /* CONTACT SECTION STYLING */
/*****************************************************************************************************/
/* puts little padding to fill in space; somehow without it, it doesn't work*/
.contact {
    padding-top: 0.1px;
    background-color: #1F6D63;
}

.contactSend {
    color: white !important;
}

.contactForm {
    color: white;
}

/*****************************************************************************************************/
                                    /* FOOTER STYLING */
/*****************************************************************************************************/
.page-footer {
	background: #111111;
    padding-top: 9px;
    overflow: auto;
    color: #fff;
}

.footer-col {
    width: 25%;
    float: left;            /* allows the column texts to be horizontally, rather than vertical */
    text-align: center;     /* centers text in div */
    line-height: 21px;      /* 21px is height on div, so line-height of 21px vertically aligns items in div */
    background-color: #111111;
}

.page-footer h3, .footer-col h3 {
	font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.page-footer li {
	font-size: 13px;
	color: #999;
	line-height: 1.6;
}

.page-footer li:hover {
	color: #fff;
	cursor: pointer;
}

.copy {
	color: #585858;
	margin-top: 32px;
}

.social a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #000;
	color: #fff;
    line-height: 40px;
}

.social a:hover {
	background: #fff;
	color: #22D7B6;
}

#links {
    margin-left: 10px;  /* moves social links left */
}

h4 {
    padding-top: 66px;  /* to have text pop below header */
}

.resume:hover {
    color: #22D7B6;
}