/* BASE STYLING */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	/* font-size: 15px;
    line-height: 1.4; */
    /* background-color: #111111; */
    height: 100%;
}

html {
    margin:0;
    padding:0;
    /* width: 100%; */
    height: 100%;
} 

main {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
	width: 1120px;
	height: 100%;
    margin: 0 auto;
    display: flex;
}

/*============HEADER STYLE===============*/
.page-header {
	height: 10%;
	width: 100vw;
    position: fixed;
    background-color: #111111;
    z-index: 100;   /* so animation of text goes behind page header */
    /* flex: none; */
}

.page-header .logo {
	float: left;
}

#logo-pic {
    height: 60px;
    padding-top: 2.5px;
    padding-left: 59.78px;
}

.page-header .main-nav {
    float: right;
}

.main-nav li {
	float: left;
	margin-left: 90px;
}

.main-nav li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 66px;
}

.main-nav li a:hover {
	color: #22D7B6;
}

/* the line underneath the current page in the nav bar */
.active-nav {
    border-bottom: 1px solid #22D7B6;
}

.nav-li-items li {
    list-style: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* inbetween */
@media only screen and (max-width: 850px) {
    .main-nav li {
        margin-left: 10px !important;
    }
   

    .page-header .main-nav {
        margin-left: 10px !important;
    }   
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .main-nav li {
        margin-left: 30px !important;
    }
   

    .page-header .main-nav {
        margin-left: 30px !important;
    }   
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .main-nav li {
        margin-left: 50px;
    }

    .page-header .main-nav {
        margin-left: 50px;
    }
}

/* @media screen and (max-width:1240px) {
    .main-nav li {
        margin-left: 50px;
    }

    .page-header .main-nav {
        margin-right: 50px;
    }
}

@media screen and (max-width:1160px) {
    .main-nav li {
        margin-left: 30px;
    }

    .page-header .main-nav {
        margin-right: 90px;
    }
}

@media screen and (max-width:1060px) {
    .page-header .main-nav {
        margin-right: 190px;
    }
}

@media screen and (max-width:960px) {
    .page-header .main-nav {
        margin-right: 300px;
    }
}

@media screen and (max-width:850px) {
    .main-nav li {
        margin-left: 10px;
    }

    .page-header .main-nav {
        margin-right: 350px;
    }
}


@media screen and (max-width:768px) {
    body {
        display: none;
    }
} */


/*============BANNER===============*/
.banner {
    height: 660px;
    width: 100vw;
    background: url(../images/mountain-side-2.jpg);
    background-size: cover;
    /* background-position: 0 66px; */
    /* background-repeat: no-repeat; */
    /* background-origin: padding-box;  */
    padding-top: 66px;          /* moves front page text down a bit */
    /* box-sizing: border-box;      keeps footer from popping too far below */
    max-width: 100%; 
    float:left;
    clear:none;  
}

.banner-block {
    padding-top: 170px;
    padding-left: 450px;
	font-size: 60px;
	font-weight: bold;
    text-align: center;
    color: black;
}

.banner-block .row {
    margin: 0;
    padding: 0;
}

.moveLeft {
    margin-left: 15%;
}

.banP1 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}
  
.banP2 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}
  
.banP3 {
    display: inline-block;
    position: relative;
    animation-name: dropDownAnimation;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards; 
    top: -300px;
}

@keyframes dropDownAnimation {
    0%   {top:-300px;}
    100%  {top:30px;}    
}

/* adds padding between individual sections between main title */
.main-title:not(:first-child):not(:last-child) {
    margin-left: 5px;
    margin-right: 5px;
}

.subtitle {
    animation-name: fadeIn;
    animation-duration: 3s;
  	animation-delay: 3s;
  	animation-fill-mode: forwards;
    visibility: hidden;
	font-size: 21px;
	font-weight: 300;
    margin: 25px 0px;
    position: relative;
    display: inline;
}

@keyframes fadeIn {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
 }

/*============Footer===============*/
.page-footer {
	background: #111111;
    padding-top: 9px;
    overflow: auto;
    color: #fff;
    /* width: 100vw; */
    /* flex: none; */
}

.footer-col {
    width: 25%;
    float: left;            /* allows the column texts to be horizontally, rather than vertical */
    text-align: center;     /* centers text in div */
    line-height: 21px;      /* 21px is height on div, so line-height of 21px vertically aligns items in div */
    background-color: #111111;
}

.page-footer h3, .footer-col h3 {
	font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.page-footer li {
	font-size: 13px;
	color: #999;
	line-height: 1.6;
}

.page-footer li:hover {
	color: #fff;
	cursor: pointer;
}

.copy {
	color: #585858;
	margin-top: 32px;
}

.social a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #000;
	color: #fff;
    /* text-align: center; */
    line-height: 40px;
}

.social a:hover {
	background: #fff;
	color: #22D7B6;
}

#links {
    margin-left: 10px;  /* moves social links left */
    /* margin-top: 1px;  */
}

h4 {
    padding-top: 66px;  /* to have text pop below header */
}

/* Projects.html styling */
.firstRow {
    /* padding-top: 40px; */
    padding-bottom: 30px;
}

.card-body-links {
    margin: auto;
}

/* transforms size of hovered item */
.firstRow:hover > *:hover {
    /* opacity: 1; */
    transform: scale(1.1);
}

.card-img-top {
    border: 1px solid black;
    width: 100%;
    height: 11vw;
    object-fit: cover;
}

/* Following two style elements allow scroll bar on modal */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}

/* CONTACT.HTML STYLING */

.marginTop {
    margin-top: 8%;
}

/* puts little padding above nav bar, otherwise it doesn't work as intended (in contact.html) */
.contact {
    padding-top: 0.1px;
    background-color: #1F6D63;
}

.contactSend {
    color: white !important;
}

.contactForm {
    color: white;
}

/* ABOUT.HTML STYLING */
.myHeadshot {
    height: auto;
    width: 50%;
    border-style: ridge;
}

.about {
    /* padding-top: 0.1px; */
    background-color: rgb(199, 224, 214);
    padding-bottom: 10px;
    font-size: 18px;
    float: right;
    clear:none; 
    width: 100%; 
    /* margin-top: -20px; */

}

.aboutBtn {
    color: black;
    text-decoration: underline;
}

.aboutBtn:hover {
    color: #1F6D63;
}

.favPhoto {
    width: 90%;
    height: auto;
    border-style: ridge;
}

.figCaption {
    font-size: 13px;
}

.blackHR {
    background-color: black;
}

/* PHOTOGRAPHY.HTML STYLING */
.photoGalleryPic img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
}

.photoGalleryPic img:hover {
    opacity: 0.7;
}

/* The Close Button when clicking on individual pictures */
.close {
    position: absolute;
    top: 105px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.photography {
    background-color: rgb(199, 224, 214);
    margin-top: -20px;
}

/* The Modal (background) */
.photography .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
     /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.photography .modal-content {
    /* margin-bottom: -50px; */
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;         /* position with top move image down */
    top: 120px;
    border:10px outset silver;
}
  
/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    position: relative;         /* position caption below image */
    top: 120px;
}

.sectionTitle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: table; 
    text-align:center; 
    width:100%;
    margin-top: -110px;
}

.sectionTitle h1 {
    display: table-cell; 
    margin: 0;
    padding: 0;
    position: relative;
}

.sectionTitle h1 span {
    position: absolute;
    top: -80px;
}

.projects {
    background-color: #5db9ad;
    padding-bottom: 40px;
}


